body{
    font-family: Roboto, sans-serif;
}
.navbar {
    background-color:  #8B4513;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color:  #8B4513;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-brand{
    font-family: Pacifico, cursivo ;
}

.navbar-toggler{
    background-color: azure;
}

.section-title{
    font-family: Pacifico;
}

#sobre-o-restaurante, #cardapio{
    background-color: #cea07f;
}.text-colored{
    color:  #FFD700;
}

.nav-cardapio .nav-link.active{
    background-color:  #8B4513;
    color: #fff;
}

.nav-cardapio .nav-link:hover, #fale-conosco button {
    background-color:  #8B4513;
    color: #fff;
}

.tab-pane .row img{
    height:30vh;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

footer {
    text-align: center;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }

    #menu-navegacao{
        margin-top: 10px;
    }
}

